* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas: "header" "section1" "section2" "footer";
  margin-left: 1px;
  background-color: rgb(220, 220, 220);
}

header {
  padding: 1em;
  background-color: rgb(220, 220, 220);
  height: 190px;
  grid-area: header;
}

.header-img {
  display: inline-flex;
  flex-direction: row;
}

#logo2 {
  margin-left: 20px;
  margin-right: 30px;
  width: 150px;
}

.nav-link {
  margin-left: 10px;
}

.navbar-brand {
  padding: 5px;
}

.d-flex button {
  color: white;
  border-color: white;
}

.d-flex button:hover {
  background-color: gray;
  border-color: white;
}

nav {
  width: 99%;
  background-color: rgb(0, 0, 0);
}

nav ul {
  list-style: none;
}

section {
  background-color: rgb(220, 220, 220);
  margin-left: 2px;
}

/* css de la primera section */
.section-carrousel {
  display: flex;
  flex-direction: column;
  grid-area: section1;
  margin-top: 50px;
  padding: 5px;
}

/* css de la segunda section */
.articulos-destacados {
  padding: 20px;
  margin: 30px 0;
  grid-area: section2;
  background-color: rgb(220, 220, 220);
}

.articulos-destacados h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  padding: 0 10px 10px 40px;
}

.articulos {
  width: 320px;
  height: 380px;
  border-radius: 30px;
}

.articulos-destacados p {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
}

.cartas {
  display: inline-flex;
  flex-direction: column;
  margin: 0 50px;
  margin-bottom: 40px;
  align-items: center;
}

.cartas button {
  font-size: 20px;
  width: 200px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  padding: 1px;
  border-radius: 5px;
}

/* css del footer */
footer {
  grid-area: footer;
  background-color: rgb(30, 30, 30);
  height: auto;
  width: 100%;
  display: inline-block;
  color: white;
  height: 100%;
}

.contenedor-footer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footerMediosPago {
  width: 20%;
  display: inline-flex;
  padding: 5px 0px;
  padding-left: 58px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.footerNuestrasRedes {
  width: 17%;
  display: inline-flex;
  padding: 5px 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.footernavegacion {
  margin-left: 5px;
  padding: 3px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.footerEnvios {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 55px;
  padding: 5px;
}

.h3-contenedor {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 10px;
  color: #0d6efd;
}

.imagenes-tarjetas {
  width: 200px;
}

.tarjetas {
  width: 50px;
  height: 30px;
  margin: 3px;
}

footer p {
  color: lightgray;
}

.imagenes-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 120px;
  padding-bottom: 30px;
}

.iconify {
  font-size: 25px;
  margin-right: 25px;
  font-weight: lighter;
}

.wasap {
  margin-bottom: 20px;
}

.nav-footer {
  display: flex;
}

.nav-footer li {
  list-style: none;
  margin: 0;
}

.nav-footer a {
  text-decoration: none;
}

.nav-footer ul {
  margin-left: 5px;
  padding: 5px;
}

/* aqui empieza css pagina buzos */
.conteiner-productos {
  background-color: rgb(220, 220, 220);
  height: 100%;
  grid-area: section1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 160px;
}

.card, .card3, .card4, .card2, .card1 {
  border-radius: 10px;
  margin: 0 20px;
}

.card img, .card3 img, .card4 img, .card2 img, .card1 img {
  margin: 0 auto;
  border-radius: 15px;
}

.card-link {
  color: black;
  text-decoration: none;
}

/* css de jeans */
.card1 {
  border-radius: 10px;
  margin-top: 10px;
  margin: 10px 20px;
}

.card1 img {
  align-items: center;
  justify-items: center;
  margin: 0px;
  border-radius: 0;
}

.card-body1 {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  margin-right: 5px;
  text-align: center;
}

.card-body1 button {
  border-radius: 10px;
  padding: 3px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0;
}

/* css pagina camisas */
.card2 {
  margin: 10px 20px;
  border-radius: 10px;
}

.conteiner-productos {
  margin-bottom: 180px;
}

/* css pagina zapatillas*/
.card3 {
  margin: 5px 20px;
  border-radius: 10px;
}

.card4 {
  margin: 0 20px;
  border-radius: 10px;
}

.card-body4 {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

/** css de la pagina accesorios **/
.sec-accesorios {
  margin: 60px;
  display: flex;
  justify-items: center;
  align-content: center;
}

.sec-accesorios h1 {
  text-align: center;
  margin: 0 auto;
}

/* css de la pagina contactos*/
.conteiner-contacto {
  display: flex;
  flex-direction: row;
  background-color: rgb(220, 220, 220);
  width: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.formulario {
  padding: 10px;
  background-color: rgb(82, 81, 81);
  width: 100%;
  color: antiquewhite;
  display: inline-block;
  margin: 0 20px;
  grid-area: section1;
  grid-template-columns: 80%;
  font-family: sans-serif;
}

fieldset div {
  padding: 5px 0;
}

.local {
  width: 100%;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 0;
  margin-left: 100px;
  height: 100%;
  grid-area: section2;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: 20%;
}

.local iframe {
  width: 70%;
  padding: 10px 0;
}

.local h5 {
  margin-top: 10px;
}

#nom1 {
  width: 170px;
}

#mail {
  width: 250px;
}

.modal-title,
.modal-body {
  color: black;
}

.botones input {
  background-color: black;
  border: black;
  margin: 0 5px;
}

/* aqui empieza la pagina de seguimiento */
.section1__seguimiento {
  padding: 10px;
  padding-bottom: 53px;
  margin: 10vh;
  grid-area: section1;
}

/*  aqui empieza la pagina preguntas*/
.preguntas {
  margin: 15px;
  margin-top: 40px;
  margin-bottom: 34px;
  grid-area: section1;
}

.preguntas h2 {
  margin: 15px;
}

.accordion-item {
  padding: 20px;
  background-color: gray;
  color: white;
}

.accordion-header {
  background-color: gray;
  color: white;
}

.accordion-button,
.collapsed::after {
  background-color: gray;
  color: white;
}

.accordion-button:hover {
  background-color: gray;
  border: none;
  color: white;
}

.accordion-button::after {
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: gray;
}

.card, .card3, .card4, .card2, .card1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card, .card3, .card4, .card2, .card1 {
  width: 340px;
  height: 500px;
}

.card1 {
  width: 340px;
  height: 550px;
  font-family: Arial, Helvetica, sans-serif;
}

.card2 {
  width: 350px;
  height: 490px;
  font-family: Arial, Helvetica, sans-serif;
}

.card3, .card4 {
  width: 360px;
  height: 480px;
  font-family: Arial, Helvetica, sans-serif;
}

.card img, .card1 img, .card2 img, .card3 img, .card4 img {
  width: 300px;
  height: 350px;
}

.card1 img {
  width: 330px;
  height: 430px;
}

.card2 img {
  width: 300px;
  height: 350px;
}

.card3 img {
  width: 350px;
  height: 300px;
}

.card4 img {
  width: 300px;
  height: 300px;
}

.card-body1 button {
  font-family: arial sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  padding: 3px;
}

/* css del wasap */
.wasap {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.whatsapp img {
  width: 100px;
  height: 50px;
}

@media (max-width: 1024px) {
  nav a {
    width: auto;
    padding: 5px;
  }
  .cartas {
    margin: 10px 20px;
  }
  .conteiner-productos {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    margin-bottom: 250px;
  }
  .div__productos {
    margin: 20px 5px;
  }
  .local {
    margin: 0;
  }
  .footerNuestrasRedes {
    margin-right: 40px;
    width: auto;
  }
  .footerMediosPago {
    width: auto;
  }
}
@media (max-width: 780px) {
  header ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }
  header a {
    height: auto;
    padding: 5px;
  }
  header li {
    padding: 5px;
  }
  header {
    height: auto;
  }
  nav {
    height: auto;
    margin-left: 0;
  }
  nav li {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  /** primera section del index **/
  .section-carrousel {
    padding-top: 0;
    margin: 0;
    width: 100%;
  }
  /* segunda section del index*/
  .articulos-destacados {
    padding: 0;
    margin-top: 10px;
  }
  .articulos-destacados h2 {
    margin-top: 20px;
  }
  .cartas {
    margin: 10px;
  }
  /* footer */
  .imagenes-footer {
    padding-right: 70px;
    padding-top: 0;
  }
  /* aqui empieza pagina producto */
  .conteiner-productos {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    margin-bottom: 40px;
  }
  .footerNuestrasRedes {
    margin-right: 50px;
  }
  .imagenes-footer {
    margin-right: 40px;
  }
  /*zapatillas css */
  .card4 img {
    height: 230px;
  }
  /* aqui empieza pagina contacto */
  .conteiner-contacto {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
  .local {
    margin-top: 20px;
    margin-left: 20px;
    justify-content: start;
    align-items: flex-start;
  }
  .local iframe {
    width: 50%;
  }
  .formulario {
    width: 715px;
  }
  .formulario div {
    margin: 3px;
  }
  .botones input {
    width: 250px;
    padding: 8px;
  }
  .formulario div textarea {
    width: 500px;
  }
  .formulario div input {
    padding: 3px;
  }
  .formulario div label {
    font-size: 20px;
  }
  /* aqui empieza la pagina seguimiento*/
  .section1__seguimiento {
    margin: 0;
  }
  /* aqui empieza la pagina de preguntas */
  .preguntas {
    margin: 15px;
    margin-top: 0;
  }
  .preguntas h2 {
    font-style: oblique;
  }
  .preguntas h4 {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    animation: none;
  }
  .preguntas p {
    font-family: cursive;
  }
}
@media (max-width: 698px) {
  .articulos-destacados {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .articulos-destacados h2 {
    padding-left: 110px;
  }
  .cartas {
    display: flex;
    margin: 15px;
  }
  .copy {
    display: none;
  }
}
@media (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }
  header {
    margin: 0;
  }
  nav {
    margin: 0;
  }
  .section1__seguimiento {
    margin: 0;
  }
  .conteiner-contacto {
    width: auto;
  }
  .card,
.card1,
.card2,
.card3,
.card4 {
    margin: 20px 0;
  }
  .cartas {
    margin: 10px;
  }
  .footerNuestrasRedes {
    margin-right: 15px;
  }
  footer {
    width: auto;
  }
  .imagenes-footer {
    margin-right: 10px;
  }
  .conteiner-destacados-grid {
    display: flex;
    flex-direction: column;
  }
  .articulos-destacados h2 {
    padding-left: 15px;
  }
  .conteiner-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imagenes-tarjetas {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }
  .sec-accesorios {
    margin: 70px 0;
  }
  .imagenes-tarjetas img {
    margin: 3px;
  }
  .h3-contenedor h3 {
    width: auto;
  }
  .copy {
    display: none;
  }
  .preguntas {
    margin-top: 0;
  }
  .formulario {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px 15px;
    font-size: small;
  }
  .botones input {
    width: 100px;
  }
  .botones {
    width: 300px;
  }
  .formulario h4 {
    width: 100%;
  }
  legend {
    width: 100%;
  }
  fieldset {
    border: none;
    width: 300px;
  }
  .formulario div textarea {
    width: 350px;
  }
  .local iframe {
    width: 70%;
  }
}

/*# sourceMappingURL=estilo.css.map */
