/** css de la pagina accesorios **/
.sec-accesorios{
    margin: 60px;
    display: flex;
    justify-items: center;
    align-content: center;
    
}
.sec-accesorios h1{
    text-align: center;
    margin: 0 auto;
}