/* css pagina zapatillas*/
.card3{
    margin: 5px 20px;
    border-radius: 10px;
    
}

.card4{
    margin: 0 20px;
    border-radius: 10px;
}

.card-body4{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}