* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import "variables";
@import "index";
@import "footer";
@import "producto";
@import "jeans";
@import "camisas";
@import "zapatillas";
@import "combos";
@import "accesorios";
@import "contacto";
@import "seguimiento";
@import "preguntas";
@import "cards";

/* css del wasap */ 
.wasap {
    position: fixed;
    bottom: 0;
    right: 20px;
    
}

.whatsapp img {
    width: 100px;
    height: 50px;
    
    
    
}

@media (max-width: 1024px){

nav a {
    width: auto;
    padding: 5px;
}
.cartas{
    margin: 10px 20px;
}
.conteiner-productos{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    margin-bottom: 250px;
}
.div__productos{
    margin: 20px 5px;
}
.local{
    margin: 0;
}
.footerNuestrasRedes{
    margin-right: 40px;
    width: auto;
}
.footerMediosPago{
    width: auto;
}


}
@media (max-width: 780px) {
    header ul {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        
        

    }
    header a{
        height: auto;
        padding: 5px;
    }
    header li{
        padding: 5px;
    }
    header{
        height: auto;
    }
    nav{
        height: auto;
        margin-left: 0;
        
    }
    nav li {
        margin-left: 0 ;
        display: flex;
        flex-direction: column;
        justify-items: center;
        
    }
    #logo2{
        margin: 0;
        
        
    }
    /** primera section del index **/
    .section-carrousel{
        padding-top: 0;
        margin: 0;
        width: 100%;
    }

    /* segunda section del index*/

    .articulos-destacados{
        padding: 0;
        margin-top: 10px;
        
    }
    .articulos-destacados h2{
        margin-top: 20px;
    }
    
    .cartas{
        margin: 10px;
    }
    /* footer */
    .imagenes-footer{
        padding-right: 50px;
        padding-top: 0;
        margin-right: 20px;
    }
    .imagenes-tarjetas{
        display: grid;
        grid-template-columns: auto auto;
        width: auto;
        height: 150px;
        
    }
    .contenedor-display{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .footerMediosPago{
        padding-left: 50px;
    }
    .footerEnvios{
        margin-right: 9px;
        padding: 5px 0;
    }
    .envios-fotos{
        display: flex;
        flex-direction: column;
    }
    .footerNuestrasRedes{
        margin-right: 30px;
    }
    /* aqui empieza pagina producto */
    .conteiner-productos{
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
        margin-bottom: 40px;
    }
    
    
    /*zapatillas css */
    .card4 img{
        height: 230px;
    }
    /* aqui empieza pagina contacto */
    .conteiner-contacto{
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    } 
    .local{
        margin-top: 20px;
        margin-left: 20px;
        justify-content: start;
        align-items: flex-start;
    }
    .local iframe{
        width: 50%;
    }
    .formulario{
        width: 715px;
    }
    .formulario div {
        margin: 3px;
    }
    .botones input{
        width: 250px;
        padding: 8px;
    }
    .formulario div textarea{
        width: 500px;
    }
    .formulario div input{
        padding: 3px;
    }
    .formulario div label{
        font-size: 20px;
    }

    /* aqui empieza la pagina seguimiento*/
    .section1__seguimiento{
        margin: 0;
    }
    
    
    /* aqui empieza la pagina de preguntas */
    .preguntas{
        margin: 15px;
        margin-top: 0;
    }
    .preguntas h2{
        font-style: oblique;
    }
    .preguntas h4{
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        animation: none;

    }
    .preguntas p{
        font-family: cursive;
    }












} 

@media (max-width: 698px){
    .articulos-destacados{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
    }
    .articulos-destacados h2{
        padding-left: 110px;
        
    }


    .cartas{
        display: flex;
        margin: 15px;
        
    }
    .footerNuestrasRedes{
        padding-right: 0;
        margin-right: 10px;
    }
    .footerMediosPago{
        padding-left: 0;
    }
    .imagenes-footer{
        margin: 0;
        padding: 0;
    }
    .footerEnvios{
        margin: 0;
        padding: 5px 0;
    }
    .imagenes-tarjetas{
        display: flex;
        flex-direction: column;
        
        margin-right: 40px;
        height: auto;
    }
    .envios-fotos{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    .imagenes-footer{
        margin-right: 40px;
    }
}

@media (max-width: 480px) {
body{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
}
nav {
    margin: 0;

}
.section1__seguimiento{
    margin: 0;
}
.conteiner-contacto{
    width: auto;
}
.card,
.card1,
.card2,
.card3,
.card4{
    margin: 20px 0;
}
.cartas{
    margin: 10px;
}
footer{
    width: auto;
}
.footerNuestrasRedes{
    margin-right: 10px;
}
.imagenes-footer{
    margin-right: 30px;
}
.footerMediosPago{
    padding: 5px;
}
.imagenes-tarjetas{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 10px;
}









.footernavegacion{
    display: none;
}
.nav-footer{
    display: none;
}
.conteiner-destacados-grid{
    display: flex;
    flex-direction: column;
}
.articulos-destacados h2{
    padding-left: 15px;
    
}
.conteiner-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-accesorios{
    margin: 70px 0;
}

.h3-contenedor h3{
    width: auto;
}

.preguntas{
    margin-top: 0;
}
.formulario{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px 15px;
    font-size: small;

}
.botones input{
    width: 100px;
}
.botones{
    width: 300px;
}
.formulario h4{
    width: 100%;
}
legend{
    width: 100%;
}
fieldset{
    border: none;
    width: 300px
}
.formulario div textarea{
    width: 350px;
}
.local iframe{
    width: 70%;
}



}

@media (max-width: 375px){
    .footerNuestrasRedes{
        margin: 0;
        font-size: 18px;
    }
    .imagenes-footer{
        margin-right: 10px;
    }
    .footerMediosPago{
        font-size: 18px;
    }
    .footerEnvios{
        font-size: 18px;
    }
    .envios-fotos{
        margin-left: 40px;
    }
    .imagenes-tarjetas{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
    }
}